<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        {{!-- <li>{{#link-to "users"}}Users{{/link-to}}</li> --}}
        <li>{{#link-to "breweries"}}Breweries{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#if user}}
  <h1 class="hello-message">Hello <span class="pacifico-red">{{user}}</span></h1>
  {{else}}
  <div class="welcome-screen">
    <h1 class="welcome-header">Welcome to <span class="pacifico-red">Brew</span><span class="pacifico-white">Journal</span></h1>
    <h3 class="welcome-text">Please sign-in to track your favorite breweries!</h3>
  </div>
{{/if}}

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
