<h2>Edit Brewery</h2>
<p>Name {{input value=model.name}}</p>
<p>Location {{input value=model.location}}</p>
<p>Beers Tasted {{input value=model.beersTasted}}</p>
<p>Notes {{input value=model.notes}}</p>
<button {{action 'edit' model}} class="btn btn-primary">Save</button>
