<h2>Add Brewery</h2>
{{input value=model.name placeholder="Brewery Name"}}
{{input value=model.location placeholder="Brewery Location"}}
{{input value=model.beersTasted placeholder="Beers Tasted"}}
{{input value=model.notes placeholder="Notes"}}
<button {{action 'save' model}}>Save</button>
{{#link-to 'breweries'}}<button>Close</button>{{/link-to}}
