<div class="content-background">
<h2>Add Brewery</h2>
<form {{action 'save' model on='submit'}}>
  <p>Name {{input value=model.name placeholder="Brewery Name" required=true}}</p>
  <p>Location {{input value=model.location placeholder="Brewery Location"}}</p>
  <p>Beers Tasted {{input value=model.beersTasted placeholder="Beers Tasted"}}</p>
  <p>Notes {{input value=model.notes placeholder="Brewery Notes"}}</p>
  <button class="btn btn-primary">Save</button>
  {{#link-to 'breweries'}}<button class="btn btn-default">Close</button>{{/link-to}}
</form>
</div>
