<h2>Breweries: </h2>

{{!-- <div> --}}
{{#each model as |brewery|}}
  <h3>
    {{#link-to 'brewery' brewery}}
      {{brewery.name}}
    {{/link-to}}
  </h3>
  <p>Location: {{brewery.location}}</p>
  <p>Beers Tasted: {{brewery.beersTasted}}</p>
  <p>Brewery Notes: {{brewery.notes}}</p>
  <button {{action 'deleteBrewery' brewery}}>Delete Brewery</button>
  {{!-- <button>Edit Brewery</button> --}}
{{/each}}
{{!-- </div> --}}

<div>
{{#link-to 'breweries.add-brewery'}}<button>Add Brewery</button>{{/link-to}}
{{outlet}}
</div>
