<h2>Brewery</h2>

<h3>Name: {{brewery.name}}</h3>
<p>Location: {{brewery.location}}</p>
<p>Beers Tasted: {{brewery.beersTasted}}</p>
<p>Brewery Notes: {{brewery.notes}}</p>
{{!-- <button {{action 'deleteBrewery'}}>Delete Brewery</button> --}}
{{!-- <button>Edit Brewery</button> --}}
{{#link-to 'breweries'}}Breweries{{/link-to}}
