<h2>Breweries: </h2>

{{#each model as |brewery|}}
<div>
  <h3>
    {{#link-to 'brewery' brewery}}
      {{brewery.name}}
    {{/link-to}}
  </h3>
  {{!-- <p>Location: {{brewery.location}}</p> --}}
  {{!-- <p>Beers Tasted: {{brewery.beersTasted}}</p> --}}
  {{!-- <p>Brewery Notes: {{brewery.notes}}</p> --}}
  <button {{action 'deleteBrewery' brewery}}>Delete Brewery</button>
  {{!-- <button>Edit Brewery</button> --}}
</div>
{{/each}}

<div>
{{#link-to 'breweries.add-brewery'}}<button>Add Brewery</button>{{/link-to}}
{{outlet}}
</div>
