<h2>Brewery</h2>

<h3>Name: {{model.name}}</h3>
<p>Location: {{model.location}}</p>
<p>Beers Tasted: {{model.beersTasted}}</p>
<p>Brewery Notes: {{model.notes}}</p>

<button {{action 'deleteBrewery' model}} class="btn btn-danger">Delete Brewery</button>
{{#link-to 'brewery.edit-brewery'}}<button class="btn btn-warning">Edit Brewery</button>{{/link-to}}
{{#link-to 'breweries'}}<button class="btn btn-default">Back</button>{{/link-to}}

{{outlet}}
